/*
* @Author: 14640
* @Date:   2020-05-29 20:38:29
* @Last Modified by:   14640
* @Last Modified time: 2020-05-29 21:35:35
*/
*
{
	margin: 0;
	padding: 0;
}
a
{
	display: block;
	text-decoration: none;
}
button
{
	border-width: 0;
}
ul
{
	list-style: none;
}
.clearfix:after
{
	content: "";
	display: block;
	height: 0;
	clear: both;
}
